<h1 backgroundHighlight>
    From pass student {{'Hello from pipe' | uppercase:1:2}}
</h1>
<div>
    <button (click)="add()">Add number</button>
</div>
<div>
    <ul *ngFor="let num of colorChoices | sortnumber;let i=index;">
        <li> {{num}} </li>
    </ul>

</div>
<div>
    <app-banner [msg]="bannerMsg" (messageChange)="changeMessage($event)"></app-banner>
</div>
<div>
    <h1>Change Detection</h1>
    <button (click)="addName()">Add item</button>
    <ul *ngFor="let obj of items">
        {{obj.name}}
    </ul>

</div>
